@import "tailwindcss";

@theme { 
  --color-midnight: #121063;  
  --color-tahiti: #3ab7bf;  
  --color-bermuda: #78dcca;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-technology: #000000;

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;  
  @keyframes infinite-scroll {    
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100%)); }  
    }

}

:root {
  background-color: black;
}